
<% if (locals.user){ %>
	<div id="user-chat-box">
		<div id="chat-box-friend-name"></div>
		<ul id="chat-messages-list">
			<!-- <li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li> -->

		</ul>
		<form id="chat-message-input-container" method="POST">
			<input id="chat-message-input" name="message" oninput="chatClass.emitToRejoin()" placeholder="Type message here">
			<input id="chat-with-friend" name="to-user" value="null" hidden>
			<button type="submit" id="send-message" data-room="null"><i class="fas fa-paper-plane"></i></button>
		</form>

	</div>
<% } %>
