<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">


<% if (locals.user){ %>
	<div id="user-chat-box">
		<div id="chat-box-friend-name-container">
			<button onclick="closeCurrentChatWindow()"><i class="fas fa-arrow-left"></i></button>
			<div id="chat-box-friend-avatar">
				<img src="/images/Users-avatar.png" alt="img" onerror="this.onerror=null;this.src='/images/Users-avatar.png';">
			</div>
			<span id="online-status">
				<i class="fas fa-circle"></i>
			</span>
			<div id="chat-box-friend-name"></div>
			<span id="chat-box-more-option">
				<i class="fas fa-ellipsis-h"></i>
			</span>
		</div>
		<ul id="chat-messages-list">
			<!-- <li class="other-message">
				<img src="">
				<span>Other Message</span>
				<sub>kumarsumit0375@gmail.com</sub>
			</li>
			<li class="self-message">
				<img src="">
				<span>Self Message</span>
				<sub>kumarsumit0375@gmail.com</sub>
				
			</li> -->
		</ul>
		<div id="chat-loading-animaiton">
			<!-- Html of loading animation -->
			<div class="loadingio-spinner-spinner-e9jylu83n79"><div class="ldio-4wfz4hbd5z3">
				<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
				</div></div>
		</div>
		<form id="chat-message-input-container" method="POST" autocomplete="off">
			<input id="chat-message-input" name="message" oninput="chatClass.emitToRejoin()" placeholder="Type message here">
			<input id="chat-with-friend" name="to-user" value="null" hidden>
			<button type="submit" id="send-message" data-room="null"><i class="fas fa-paper-plane"></i></button>
		</form>

	</div>
<% } %>




<script src="<%= assetPath('js/chat_box.js') %>"></script>

