<header>
    <span id="app-name">Ninja Locus</span>

    <% if (locals.user){ %>
    <div id="search-bar-conatiner">
        <div id="search-bar">
            <input name="name" oninput="searchEngineClass.handleSearch()" placeholder="Search by name ...">
            <i class="fas fa-search"></i>
        </div>
        <ul type="none">
            <!-- <li>Name</li>
            <li>Name</li>
            <li>Name</li> -->
        </ul>
    </div>
    <% } %>
        
    <ul type = "none">
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile/<%= locals.user.id %>">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out" id="sign-out">Sign Out</a>
            </li>
        <% }else{ %>

            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>

            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>


        <% } %>
    </ul>

</header>

<script src="<%= assetPath('js/search_engine.js') %>"></script>
<% if (locals.user){ %>
    <script>
        const searchEngineClass = new searchEngine();
    </script>
<% } %>