<!-- css links -->
<link rel="stylesheet" href="<%= assetPath('css/forgot_reset_password.css') %>">


<div class="forgot-reset-password-page">
    <div class="forgot-reset-password-container animate__animated animate__zoomIn">
        <form action="/password/recover" method="POST">
            <div class="user-input-wrp">
                <br/>
                <input class="inputText" type="email" name="email" placeholder=" " required>
                <span class="floating-label">Enter your email</span>
            </div>
           
            <input class="target-button" type="submit" value="Submit">
        </form>
    </div>
</div>








<!-- Previous code -->
<!-- <form action="/password/recover" method="POST">
    <input type="email" name="email" placeholder="Enter username" required>
    <input type="submit" value="Submit">
</form> -->