 <!-- css links -->
<link rel="stylesheet" href="<%= assetPath('css/forgot_reset_password.css') %>">


<div class="forgot-reset-password-page">
    <div class="forgot-reset-password-container animate__animated animate__zoomIn">
        <% if(token.isValid === 'true'){ %>
        <form action="/password/reset-password/<%= token.accessToken %>" method="POST">
            <div class="user-input-wrp">
                <br/>
                <input class="inputText" type="password" name="password" placeholder=" " required>
                <span class="floating-label">Enter new password</span>
                <small class="min-max-length-password animate__animated animate__fadeInDown">(Min len 5, max len 15)</small>
            </div>
            <div class="user-input-wrp">
                <br/>
                <input class="inputText" type="password" name="confirm-password" placeholder=" " required>
                <span class="floating-label">Confirm password</span>
            </div>
           
            <input class="target-button" type="submit" value="Submit">
        </form>
        <% }else{ %>
        <p class="token-expired">
            <span>
                Your token is expired !!
            </span>
        </p>
        <% } %>
    </div>
</div>

    







                                    <!-- Previous code -->

<!-- <div>
    <%= token.isValid %>

</div>


<% if(token.isValid === 'true'){ %>
    <form action="/password/reset-password/<%= token.accessToken %>" method="POST">
        <input type="password" name="password" placeholder="Enter password" required>
        <input type="password" name="confirm-password" placeholder="Confirm Password" required>
        <input type="submit" value="Submit">
    </form>
<% }else{ %>
    <p>
        <h1>
            Token is expired !!
        </h1>
    </p>
<% } %> -->