<link rel="stylesheet" href="<%= assetPath('css/signin_signup.css') %>">

<div class="auth-page">
    <div class="auth-container animate__animated animate__zoomIn">
        <h1>Sign-up</h1>
        <form action="/users/create" method="POST">
            <div class="user-input-wrp">
                <br/>
                <input class="inputText" type="text" name="name" placeholder=" " required>
                <span class="floating-label">Your name</span>
            </div>
            <div class="user-input-wrp">
                <br/>
                <input class="inputText" type="email" name="email" placeholder=" " required>
                <span class="floating-label">Your email address</span>
            </div>
            
            <div class="user-input-wrp">
                <br/>
                <input class="inputText" type="password" name="password" placeholder=" " required autocomplete="off">
                <span class="floating-label">Your password</span>
                <small class="min-max-length-password animate__animated animate__fadeInDown">(Min len 5, max len 15)</small>
            </div>
            <div class="user-input-wrp">
                <br/>
                <input class="inputText" type="password" name="confirm_password" placeholder=" " required>
                <span class="floating-label">Confirm password</span>
            </div>

            <input class="target-button" type="submit" value="Sign Up">
            
        </form>

        <div class="or">
            <span>---------- or ----------</span>
        </div>

        <a href="/users/auth/google">
            <div id="google-auth"  class="target-button">
                Sign up with Google 
                <i class="fab fa-google"></i>
            </div>
        </a>
    </div>
</div>
