// Add styling for the chat box
#user-chat-box{
	display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    // border: 1px dashed grey;
    height: 350px;
	width: 300px;
	background: white;
	box-sizing: border-box;
	// padding: 5px;
	box-shadow: 0px 0px 7px 3px #b19889;

	#chat-box-friend-name-container{
		height: 33px;
		display: flex;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		background-color: #8ef594;
		font-size: 1.2rem;
		padding: 5px;
		&>button{
			border: none;
			outline: none;
			background-color: transparent;
			margin-right: 5px;
		}
		&>img{
			width: 33px;
			height: 33px;
			margin-right: 5px;
			border-radius: 50%;
		}
		#chat-box-friend-name{
			margin-right: 5px;
		}
		#online-status{
			display: none;   // TODO: Should change color dynamically
			font-size: 0.5rem;
			margin-right: 5px;
		}
		#chat-box-more-option{
			position: absolute;
			right: 5px;
		}
	}

    #chat-messages-list{
    	list-style: none;
		padding: 10px;
		margin: 0px;
		height: calc(100% - 40px - 33px);   // 100% - (height of #chat-box-friend-name-container & #chat-message-input-container)
		min-height: 65px;
		box-sizing: border-box;
		background-color: #ecfdff;
		overflow: auto;
		&>li{
			display: flex;
			position: relative;
			align-items: center;
			text-align: justify;
			padding: 5px;
			img{
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
			span{
				display: inline-block;
	    		padding: 7px;
				max-width: 75%;
				border-radius: 5px;
				box-sizing: border-box;
			}
			sub{
				position: absolute;
				display: none;  // Todo : Make it block
			}
		}
	    .other-message{
			flex-direction: row;
			img{
				margin-right: 5px;
			}
		    span{
		    	background-color: #ffa0a0;
		    }
		    
	    }
	    .self-message{
			flex-direction: row-reverse;
			img{
				margin-left: 5px;
			}
		    span{
				background-color: #a0dcff;
		    }
		   
	    }

    }
	#chat-loading-animaiton{
		position: absolute;
		top: 33px;
		width: 100%;
		height: calc(100% - 40px - 33px);
		min-height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		// &>img{
		// 	width: 90px;
		// 	border-radius: 50%;
		// }
	}

    #chat-message-input-container{
    	    height: 40px;
		    width: 100%;
		    display: flex;
		    flex-direction: row;
			padding: 0px;
			margin: 0px;

		    #chat-message-input{
	    	    height: 100%;
    			width: calc(100% - 80px);
		    }

		    #send-message{
	    	    height: 100%;
			    width: 80px;
			    font-size: 25px;
			    color: white;
			    border: none;
			    background: #58d258;
		    }
	}
}



// media query for mobile view
@media screen and (max-width: 576px){
	#user-chat-box{
		top: 65px;
		bottom: auto;
		right: auto;
		height: calc(100% - 65px);
		width: calc(100% - 3px);
	}
}