.forgot-reset-password-page{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(20deg, #b997bf6e, transparent);
}
.forgot-reset-password-container{
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 430px;
    min-width: 300px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: 3px 3px 13px 8px #c0bebb;
    border-radius: 10px;

    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        input[type="submit"]{
            width: 100%;
            height: 45px;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: large;
            background-color: orange;
            color: white;

            &:hover{
                background-color: #ddad1f;
            }
        }
    }
    .target-button:hover{
        box-shadow: 3px 3px 3px 1px #c3cac3;
    }

    .target-button:active{
        transform: scale(0.9);
    }
    .token-expired{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        margin-bottom: 10px;
        font-size: larger;
    }
}





// css to slide the assumed placeholder above the input tag while typing
.user-input-wrp {
	position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
.user-input-wrp .inputText{
    width: 100%;
    height: 27px;
    outline: none;
    border: none;
    border-bottom: 1px solid #777;
    background: transparent;
    padding: 2px 10px;
    font-size: 1rem;
    color: rgb(100, 98, 98);

}
.user-input-wrp .inputText:focus{
    border-color: rgb(41, 250, 222);
    color: black;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:placeholder-shown) ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
    color: #f00808;
}



// To show the min and max length of the password
.user-input-wrp .min-max-length-password{
    display: none;
    position: absolute;
    top: 0px;
	right: 20px;
	font-size: 13px;
    color: orange;
}
.user-input-wrp input:focus ~ .min-max-length-password{
	display: initial;
}
