// variables
$white-text: white;

header{
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: blue;
    color: $white-text;
    font-size: 1.5rem;
    // line-height: 10px;
    padding: 0px 10px;
    box-sizing: border-box;

    #search-bar-conatiner{
        width: 40%;
        max-width: 400px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        position: relative;

        #search-bar{
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 14px 14px 14px 14px;
            padding: 1px;

            input{
                width: 100%;
                height: 100%;
                margin-right: 2px;
                border-radius: 14px 0px 0px 14px;
                outline: none;
                border: none;
                padding-left: 9px;
                font-size: 1.2rem;
                
            }
            i{
                color: orange;
                margin-right: 5px;
                cursor: pointer;
            }
        }

        ul{
            max-height: 300px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: absolute;
            top: 35px;
            background-color: antiquewhite;
            margin: 0px 1px;
            padding: 0px;
            width: calc(100% - 1px);
            transition: all 0.5s ease-in-out;

            li{
                width: 100%;
                background-color: goldenrod;
                margin-bottom: 3px;
                padding: 0px 5px;
            }
        }

    }

    ul{
        display: flex;
        li{
            margin-right: 10px;

            a{
                text-decoration: none;
                color: $white-text;
                transition: color 0.3s ease-in-out;

                &:hover{
                    // text-shadow: 2px;
                    color: orange;
                }
            }
        }
    }
}

#app-name{
    font-weight: bolder;
    letter-spacing: 2px;
}

#sign-out{
    color: rgb(193, 243, 243);
    &:hover{
        color: orange;
    }
}
