#home-container{
    display: flex;
    width: 100%;
    height: 100%;
    // height: calc(100% - 65px);  // 100% - padding top of parent
    box-sizing: border-box;
    
    #feed-posts{
        width: 70%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: scroll;
    }

    #users-container{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px;
        border-left: 1px solid lightgrey;
        overflow-y: scroll;
    }
}




// css for the new message icon inside the chat window
.new-message-icon{
    color: orange;
}

.remove-new-message-icon{
    display: none;
}