#home-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    // height: calc(100% - 65px);  // 100% - padding top of parent
    box-sizing: border-box;
    background-color: #f2f2f2;
    
    #feed-posts{
        width: 60%;
        max-width: 800px;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 0px 3%;
        background-color: white;
        padding: 5px 10px;
    }

    #users-container{
        width: 30%;
        max-width: 500px;
        min-width: 350px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        border-left: 1px solid lightgrey;
        overflow-y: scroll;
        // margin-right: 38px;
        background-color: white;
        padding: 5px 10px;
    }
}




// css for the new message icon inside the chat window
.new-message-icon{
    color: orange;
}

.remove-new-message-icon{
    display: none;
}