#home-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    // height: calc(100% - 65px);  // 100% - padding top of parent
    box-sizing: border-box;
    background-color: #f2f2f2;
    
    #feed-posts{
        width: 60%;
        max-width: 800px;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 0px 3%;
        background-color: white;
        padding: 5px 30px;
    }
}


#post-form-container{
    width: 80%;

    form{
        display: flex;
        align-items: center;

        button{
            width: 80px;
            height: 57px;
            border: none;
            position: relative;
            top: 2px;
            cursor: pointer;
            font-size: 1rem;
        }
    }
}
#posts-list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // code of _post.ejs file
    .post-list{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 15px;
        margin: 5px;
        background-color: #ebe9e9;


        .user-info{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            position: relative;

            .user-post-details{
                position: relative;
                min-width: 180px;
                display: flex;
            }
            a{
                text-decoration: none;
                color: black;
            }
            small{
                position: absolute;
                top: 26px;
                left: 40px;
                font-size: 0.6rem;
            }
            .user-name-pic{
                display: flex;
                align-items: center;
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }
        .post-content{
            background-color: #f9ca74;
            padding: 5px;
            max-height: 225px;
            overflow-y: scroll;
        }
        .user-controls{
            width: 100%;
            display: flex;
            // justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            &>div{
                width: calc(100% / 3);
                cursor: pointer;
                border-right: 1px solid grey;
            }
            a{
                color: black;
                text-decoration: none;
            }
            .likes-count, .comments-count{
                margin: auto;
                width: fit-content;
            }

        }
        .post-comments{
            height: 0px;
            max-height: 0px;
            overflow-y: hidden;
            margin-top: 10px;
            transition: all 0.3s ease-in-out;
            form{
                width: 100%;
                display: flex;
                resize: none;
                textarea{
                    width: 100%;
                    height: 33px;
                    resize: none;
                    border: none;
                    outline: none;
                }
                input{
                    height: 33px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    background: #86a9a9;
                }
            }
        }

        // SCSS of comment.ejs
        .post-comments-list{
            .comment-list-container{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;
                background-color: rgb(188, 231, 231);
                .comment-user-info{
                    width: 100%;
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    .user-comment-details{
                        position: relative;
                        min-width: 180px;
                        display: flex;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    small{
                        position: absolute;
                        top: 20px;
                        left: 31px;
                        font-size: 0.6rem;
                    }
                    .comment-user-name-pic{
                        display: flex;
                        align-items: center;
                        img{
                            width: 25px;
                            border-radius: 50%;
                            margin-right: 5px;
                        }
                    }
                    
                }
                .comment-content{
                    background-color: #b4f974;
                    padding: 5px;
                    margin-left: 23px;
                    margin-right: 10px;
                    max-height: 225px;
                    overflow-y: scroll;
                }
                .comment-user-controls{
                    width: 100%;
                    display: flex;
                    // justify-content: space-between;
                    align-items: center;
                    font-size: 12px;
                    margin: 4px 0px;
                    &>div{
                        width: calc(100% / 3);
                        cursor: pointer;
                    }
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    .likes-count{
                        margin: auto;
                        width: fit-content;
                    }
                }
            }
        }
    }

    // Css common for _post.ejs and _comment.ejs
    .post-comment-more-icon{
        padding: 4px;
        border-radius: 50%;
        cursor: pointer;
    }
    .post-comment-more-options{
        position: absolute;
        top: 29px;
        right: 2px;
        display: none;
        margin: 0px;
        box-sizing: border-box;
        padding: 7px 12px;
        list-style: none;
        line-height: 28px;
        border-radius: 5px;
        background-color: white;
    }
    .post-comment-close-icon{
        display: none;
        font-size: 24px;
        cursor: pointer;
    }
}






// css to slide the assumed placeholder above the input tag while typing
.user-input-wrp {
	position: relative;
    width: calc(100% - 80px);
    // height: 40px;
    margin-bottom: 15px;

    .inputText{
        width: 100%;
        height: 57px;
        outline: none;
        border: none;
        // border-bottom: 1px solid #777;
        background: #dccece;
        padding: 10px 10px;
        font-size: 1rem;
        white-space: pre-wrap;
        resize: none;
    }
    .inputText:focus{
        // border-color: rgb(41, 250, 222);
        // color: black;
        // border-width: medium medium 2px;
    }
    .floating-label {
        position: absolute;
        pointer-events: none;
        top: 32px;
        left: 10px;
        font-size: 1.2rem;
        transition: 0.2s ease all;
    }
    textarea:focus ~ .floating-label,
    textarea:not(:placeholder-shown) ~ .floating-label{
        top: -5px;
        left: 10px;
        font-size: 1rem;
        opacity: 1;
        color: #3a08f0;
    }
}






// media query for the home page
// Tab view
@media screen and (max-width: 847px){
    #home-container{
        #feed-posts{
            width: 100%;
        }
        #users-container{
            display: none;
        }

    }
}
// Mobile view
@media screen and (max-width: 547px) {
    #home-container{
        #feed-posts{
            padding: 5px 5px;
        }

    }
    #post-form-container{
        width: 100%;
    }
    #posts-list-container{
        .post-list{
            width: 80%;
            .user-controls{
                &>div{
                    width: calc(100% / 2);
                }
            }

        }
    }
}