body{
    margin: 0;
    /* text-align: center; */

    #layout-main{
        height: 100%;
    }
}

// Hide the scrollbar
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}