body{
    margin: 0;
    /* text-align: center; */
    font-size: 1rem;
    padding: 0px 5px;

    #layout-main{
        // height: calc(100% - 65px);  
        // margin-top: 75px;
        height: 100%;
        box-sizing: border-box;
        padding-top: 65px;
        overflow-y: scroll; 
    }
}

// Hide the scrollbar
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}