#user-chat-box {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 350px;
  width: 300px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 7px 3px #b19889; }
  #user-chat-box #chat-box-friend-name-container {
    height: 33px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: #8ef594;
    font-size: 1.2rem;
    padding: 5px; }
    #user-chat-box #chat-box-friend-name-container > button {
      border: none;
      outline: none;
      background-color: transparent;
      margin-right: 5px; }
    #user-chat-box #chat-box-friend-name-container > img {
      width: 33px;
      height: 33px;
      margin-right: 5px;
      border-radius: 50%; }
    #user-chat-box #chat-box-friend-name-container #chat-box-friend-name {
      margin-right: 5px; }
    #user-chat-box #chat-box-friend-name-container #online-status {
      display: none;
      font-size: 0.5rem;
      margin-right: 5px; }
    #user-chat-box #chat-box-friend-name-container #chat-box-more-option {
      position: absolute;
      right: 5px; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    margin: 0px;
    height: calc(100% - 40px - 33px);
    min-height: 65px;
    box-sizing: border-box;
    background-color: #ecfdff;
    overflow: auto; }
    #user-chat-box #chat-messages-list > li {
      display: flex;
      position: relative;
      align-items: center;
      text-align: justify;
      padding: 5px; }
      #user-chat-box #chat-messages-list > li img {
        width: 30px;
        height: 30px;
        border-radius: 50%; }
      #user-chat-box #chat-messages-list > li span {
        display: inline-block;
        padding: 7px;
        max-width: 75%;
        border-radius: 5px;
        box-sizing: border-box; }
      #user-chat-box #chat-messages-list > li sub {
        position: absolute;
        display: none; }
    #user-chat-box #chat-messages-list .other-message {
      flex-direction: row; }
      #user-chat-box #chat-messages-list .other-message img {
        margin-right: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        background-color: #ffa0a0; }
    #user-chat-box #chat-messages-list .self-message {
      flex-direction: row-reverse; }
      #user-chat-box #chat-messages-list .self-message img {
        margin-left: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        background-color: #a0dcff; }
  #user-chat-box #chat-loading-animaiton {
    position: absolute;
    top: 33px;
    width: 100%;
    height: calc(100% - 40px - 33px);
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center; }
  #user-chat-box #chat-message-input-container {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 100%;
      width: calc(100% - 80px); }
    #user-chat-box #chat-message-input-container #send-message {
      height: 100%;
      width: 80px;
      font-size: 25px;
      color: white;
      border: none;
      background: #58d258; }

@media screen and (max-width: 576px) {
  #user-chat-box {
    top: 65px;
    bottom: auto;
    right: auto;
    height: calc(100% - 65px);
    width: calc(100% - 3px); } }
