#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #9e69a6;
  color: white;
  font-size: 1rem;
  padding: 0px 10px;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px -6px 11px 7px #9e69a6;
  z-index: 20; }

#app-name {
  font-weight: bolder;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #app-name #app-logo {
    width: 50px;
    margin-right: 10px; }

#search-bar-conatiner {
  width: 40%;
  max-width: 400px;
  min-width: 160px;
  margin: 0px 12px;
  display: flex;
  flex-direction: column;
  position: relative; }
  #search-bar-conatiner #search-bar {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 14px 14px 14px 14px;
    padding: 1px; }
    #search-bar-conatiner #search-bar input {
      width: 100%;
      height: 100%;
      margin-right: 2px;
      border-radius: 14px 0px 0px 14px;
      outline: none;
      border: none;
      padding-left: 9px;
      font-size: 1.1rem; }
    #search-bar-conatiner #search-bar i {
      color: orange;
      margin-right: 5px;
      cursor: pointer; }
  #search-bar-conatiner #searched-users {
    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 30px;
    background-color: antiquewhite;
    margin: 0px 1px;
    padding-left: 0px;
    width: calc(100% - 1px);
    box-sizing: border-box;
    transition: all 0.5s ease-in-out; }
    #search-bar-conatiner #searched-users a {
      text-decoration: none;
      color: white;
      transition: color 0.3s ease-in-out; }
      #search-bar-conatiner #searched-users a:hover {
        color: orange;
        transition: all 0.4s ease-in-out; }
      #search-bar-conatiner #searched-users a li {
        width: 100%;
        line-height: 31px;
        background-color: #947e46;
        margin-bottom: 3px;
        padding: 0px 5px;
        display: flex;
        align-items: center; }
        #search-bar-conatiner #searched-users a li img {
          width: 38px;
          height: 38px;
          margin: 5px 10px 5px 0px;
          border-radius: 50%;
          cursor: pointer;
          box-shadow: 0px 0px 6px 3px #c3cac3; }

#nav-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px; }
  #nav-menu-list li {
    margin-right: 10px; }
    #nav-menu-list li #nav-side-menu-list {
      width: 35%;
      max-width: 240px;
      min-width: 180px;
      height: auto;
      padding-left: 0px;
      position: absolute;
      top: 59px;
      right: -400px;
      padding: 5px;
      background-color: #4b5761;
      transition: all 0.5s ease-in-out;
      color: white;
      box-shadow: 0px 0px 6px 5px #c3cac3;
      font-size: 1.1rem; }
      #nav-menu-list li #nav-side-menu-list:hover {
        box-shadow: -7px 9px 13px 5px #c3cac3; }
      #nav-menu-list li #nav-side-menu-list li {
        margin: 0px 0px 5px 0px;
        background-color: #c07979;
        cursor: pointer;
        padding: 5px; }
      #nav-menu-list li #nav-side-menu-list #nav-side-menu-list-close {
        position: absolute;
        top: -5px;
        right: -1px;
        color: red;
        background-color: #330b0b;
        padding: 4px;
        cursor: pointer; }
      #nav-menu-list li #nav-side-menu-list .displayNoneInDesktopView {
        display: none; }
      #nav-menu-list li #nav-side-menu-list a {
        text-decoration: none;
        color: white;
        display: inline-block;
        width: 100%; }
    #nav-menu-list li a {
      text-decoration: none;
      color: white;
      transition: color 0.3s ease-in-out; }
      #nav-menu-list li a:hover {
        color: orange;
        transition: all 0.4s ease-in-out; }

#nav-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 6px 5px #c3cac3; }

.nav-button {
  outline: none;
  border: none;
  color: white;
  background: linear-gradient(to left, #ab8511, #8c4750);
  cursor: pointer;
  border-radius: 50px;
  width: 100px;
  font-size: 17px;
  padding: 5px;
  box-shadow: -6px 4px 11px -2px #c3cac3;
  transition: all 0.1s ease-in-out; }
  .nav-button:active {
    transform: scale(0.9); }
  .nav-button:hover {
    box-shadow: 0px 0px 0px 0px #c3cac3; }

@media screen and (max-width: 847px) {
  #nav-menu-list li #nav-side-menu-list .displayNoneInDesktopView {
    display: inherit; } }

@media screen and (max-width: 576px) {
  #app-name {
    margin-left: -7px; }
    #app-name #app-logo {
      margin-right: 0px; }
    #app-name span {
      transform: scale(0.8); }
  #nav-menu-list {
    margin-right: -10px; }
  #nav-user-name {
    display: none; }
  #search-bar-conatiner {
    min-width: 150px;
    width: 35%;
    margin: 0px 6px; }
    #search-bar-conatiner #searched-users {
      width: 240px; }
      #search-bar-conatiner #searched-users a li {
        font-size: 1rem; }
    #search-bar-conatiner #search-bar input {
      padding-left: 2px;
      font-size: 1rem; }
  .nav-button {
    width: 67px;
    height: 25px;
    font-size: 0.9rem;
    padding: 0px; } }
