#home-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2; }
  #home-container #feed-posts {
    width: 60%;
    max-width: 800px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px 30px; }

#post-form-container {
  width: 80%; }
  #post-form-container form {
    display: flex;
    align-items: center; }
    #post-form-container form button {
      width: 80px;
      height: 57px;
      border: none;
      position: relative;
      top: 2px;
      cursor: pointer;
      font-size: 1rem; }

#posts-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #posts-list-container .post-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 15px;
    margin: 5px;
    background-color: #ebe9e9; }
    #posts-list-container .post-list .user-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      position: relative; }
      #posts-list-container .post-list .user-info .user-post-details {
        position: relative;
        min-width: 180px;
        display: flex; }
      #posts-list-container .post-list .user-info a {
        text-decoration: none;
        color: black; }
      #posts-list-container .post-list .user-info small {
        position: absolute;
        top: 26px;
        left: 40px;
        font-size: 0.6rem; }
      #posts-list-container .post-list .user-info .user-name-pic {
        display: flex;
        align-items: center; }
        #posts-list-container .post-list .user-info .user-name-pic img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 5px; }
    #posts-list-container .post-list .post-content {
      background-color: #f9ca74;
      padding: 5px;
      max-height: 225px;
      overflow-y: scroll; }
    #posts-list-container .post-list .user-controls {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 15px; }
      #posts-list-container .post-list .user-controls > div {
        width: calc(100% / 3);
        cursor: pointer;
        border-right: 1px solid grey; }
      #posts-list-container .post-list .user-controls a {
        color: black;
        text-decoration: none; }
      #posts-list-container .post-list .user-controls .likes-count, #posts-list-container .post-list .user-controls .comments-count {
        margin: auto;
        width: fit-content; }
    #posts-list-container .post-list .post-comments {
      height: 0px;
      max-height: 0px;
      overflow-y: hidden;
      margin-top: 10px;
      transition: all 0.3s ease-in-out; }
      #posts-list-container .post-list .post-comments form {
        width: 100%;
        display: flex;
        resize: none; }
        #posts-list-container .post-list .post-comments form textarea {
          width: 100%;
          height: 33px;
          resize: none;
          border: none;
          outline: none; }
        #posts-list-container .post-list .post-comments form input {
          height: 33px;
          outline: none;
          border: none;
          cursor: pointer;
          background: #86a9a9; }
    #posts-list-container .post-list .post-comments-list .comment-list-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      background-color: #bce7e7; }
      #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-info {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 5px 10px;
        box-sizing: border-box; }
        #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-info .user-comment-details {
          position: relative;
          min-width: 180px;
          display: flex; }
        #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-info a {
          text-decoration: none;
          color: black; }
        #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-info small {
          position: absolute;
          top: 20px;
          left: 31px;
          font-size: 0.6rem; }
        #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-info .comment-user-name-pic {
          display: flex;
          align-items: center; }
          #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-info .comment-user-name-pic img {
            width: 25px;
            border-radius: 50%;
            margin-right: 5px; }
      #posts-list-container .post-list .post-comments-list .comment-list-container .comment-content {
        background-color: #b4f974;
        padding: 5px;
        margin-left: 23px;
        margin-right: 10px;
        max-height: 225px;
        overflow-y: scroll; }
      #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-controls {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        margin: 4px 0px; }
        #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-controls > div {
          width: calc(100% / 3);
          cursor: pointer; }
        #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-controls a {
          color: black;
          text-decoration: none; }
        #posts-list-container .post-list .post-comments-list .comment-list-container .comment-user-controls .likes-count {
          margin: auto;
          width: fit-content; }
  #posts-list-container .post-comment-more-icon {
    padding: 4px;
    border-radius: 50%;
    cursor: pointer; }
  #posts-list-container .post-comment-more-options {
    position: absolute;
    top: 29px;
    right: 2px;
    display: none;
    margin: 0px;
    box-sizing: border-box;
    padding: 7px 12px;
    list-style: none;
    line-height: 28px;
    border-radius: 5px;
    background-color: white; }
  #posts-list-container .post-comment-close-icon {
    display: none;
    font-size: 24px;
    cursor: pointer; }

.user-input-wrp {
  position: relative;
  width: calc(100% - 80px);
  margin-bottom: 15px; }
  .user-input-wrp .inputText {
    width: 100%;
    height: 57px;
    outline: none;
    border: none;
    background: #dccece;
    padding: 10px 10px;
    font-size: 1rem;
    white-space: pre-wrap;
    resize: none; }
  .user-input-wrp .floating-label {
    position: absolute;
    pointer-events: none;
    top: 32px;
    left: 10px;
    font-size: 1.2rem;
    transition: 0.2s ease all; }
  .user-input-wrp textarea:focus ~ .floating-label,
  .user-input-wrp textarea:not(:placeholder-shown) ~ .floating-label {
    top: -5px;
    left: 10px;
    font-size: 1rem;
    opacity: 1;
    color: #3a08f0; }

@media screen and (max-width: 847px) {
  #home-container #feed-posts {
    width: 100%; }
  #home-container #users-container {
    display: none; } }

@media screen and (max-width: 547px) {
  #home-container #feed-posts {
    padding: 5px 5px; }
  #post-form-container {
    width: 100%; }
  #posts-list-container .post-list {
    width: 80%; }
    #posts-list-container .post-list .user-controls > div {
      width: calc(100% / 2); } }
