#users-container {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-left: 1px solid lightgrey;
  overflow-y: scroll;
  background-color: white;
  padding: 5px 10px; }
  #users-container > div {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #ebe9e9; }
    #users-container > div .heading-button {
      position: relative;
      width: 100%;
      text-align: start;
      box-sizing: border-box;
      font-size: larger;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: #dfc03c;
      color: white;
      border-radius: 5px;
      padding: 6px 20px; }
      #users-container > div .heading-button .more-option {
        position: absolute;
        right: 10px; }
    #users-container > div .hidden-container {
      height: 0px;
      max-height: 0px;
      overflow-y: hidden;
      transition: all 0.3s ease-in-out; }
  #users-container .friends-of-user, #users-container .all-users {
    background-color: #f9ca74;
    padding: 5px;
    font-family: cursive;
    margin: 3px 0px; }
    #users-container .friends-of-user > span, #users-container .all-users > span {
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      cursor: pointer; }
      #users-container .friends-of-user > span img, #users-container .all-users > span img {
        width: 28px;
        border-radius: 50%;
        margin-right: 5px; }
      #users-container .friends-of-user > span span, #users-container .all-users > span span {
        margin-right: 5px;
        display: flex;
        align-items: center; }
      #users-container .friends-of-user > span a, #users-container .all-users > span a {
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-right: 5px; }
        #users-container .friends-of-user > span a button, #users-container .all-users > span a button {
          outline: none;
          border: none;
          padding: 3px;
          cursor: pointer;
          flex-shrink: 0; }
      #users-container .friends-of-user > span .user-details-tag, #users-container .all-users > span .user-details-tag {
        width: 100%;
        flex-shrink: 2; }

.new-message-icon {
  color: orange; }

.remove-new-message-icon {
  display: none; }

@media screen and (max-width: 847px) {
  #users-container {
    display: none;
    width: 100%;
    font-size: 0.8rem; } }
