#welcome-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

.feature-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .feature-container .mobile-view-heading {
    display: none; }
  .feature-container .feature {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    line-height: 32px; }
    .feature-container .feature .desktop-view-heading {
      margin-top: 0px;
      color: orange; }
      .feature-container .feature .desktop-view-heading:hover {
        color: red; }
    .feature-container .feature span {
      text-align: justify;
      font-size: 1.2rem;
      color: grey; }

#top-feature-container img {
  width: 70%; }

#top-feature-container .feature {
  width: 25%; }

#middle-feature-container {
  padding: 0px 15px;
  box-sizing: border-box;
  background-color: #f8e9ccc2; }
  #middle-feature-container .feature {
    width: 55%;
    margin: 0px 50px; }
  #middle-feature-container img {
    width: 35%; }

#bottom-feature-container {
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding-top: 10px; }
  #bottom-feature-container img {
    width: 60%; }

@media screen and (max-width: 1000px) {
  .feature-container .feature {
    line-height: normal; }
    .feature-container .feature span {
      font-size: 1rem; }
  #top-feature-container .feature {
    width: 30%; } }

@media screen and (max-width: 746px) {
  .feature-container {
    flex-direction: column; }
    .feature-container .mobile-view-heading {
      display: block;
      margin: 0px;
      color: orange;
      font-size: 1.6rem; }
      .feature-container .mobile-view-heading:hover {
        color: red; }
    .feature-container .feature {
      width: 90%;
      line-height: 21px; }
      .feature-container .feature .desktop-view-heading {
        display: none; }
  #top-feature-container {
    margin-bottom: 20px; }
    #top-feature-container img {
      width: 100%; }
    #top-feature-container .feature {
      width: 90%; }
  #middle-feature-container {
    flex-direction: column-reverse; }
    #middle-feature-container img {
      width: 100%; }
    #middle-feature-container .feature {
      width: 90%; }
  #bottom-feature-container img {
    width: 100%; }
  #bottom-feature-container .feature {
    width: 90%; } }
